

<div class="container">
   <div class="row">
     <div class="col-xs-6">

       <div class="panel panel-primary">
       <div class="panel-heading">
         未装车运输单--成都
       </div>
       <div class="panel-body">
           <div class="row">
             asdf
           </div>
           <div class="row">asdf</div>
         </div>
       </div>
       <div class="panel panel-primary">
         <div class="panel-heading">
           未装车运输单--重庆
         </div>
         <div class="panel-body">
           <div class="row">
             asdf
           </div>
           <div class="row">asdf</div>
         </div>
       </div>
       <div class="panel panel-primary">
         <div class="panel-heading">
           未装车运输单--成都
         </div>
         <div class="panel-body">
           <div class="row">
             asdf
           </div>
           <div class="row">asdf</div>
         </div>
       </div>
       <div class="panel panel-primary">
         <div class="panel-heading">
           未装车运输单--重庆
         </div>
         <div class="panel-body">
           <div class="row">
             asdf
           </div>
           <div class="row">asdf</div>
         </div>
       </div>
     </div>
     <div class="col-xs-6">
       <div class="panel panel-primary">
         <div class="panel-heading">
           已入库车辆--成都
         </div>
         <div class="panel-body">
           <div class="row">
             asdf
           </div>
           <div class="row">asdf</div>
         </div>
       </div>
       <div class="panel panel-primary">
         <div class="panel-heading">
           已入库车辆--重庆
         </div>
         <div class="panel-body">
           <div class="row">
             asdf
           </div>
           <div class="row">asdf</div>
         </div>
       </div>
     </div>
   </div>
</div>