<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>付费方式:</strong>
  <%= @paymentmethod.name %>
</p>


<%= link_to '编辑', edit_paymentmethod_path(@paymentmethod) %> |
<%= link_to '返回', paymentmethods_path %>
</div>