// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 70px;
}

.notice {
  position: absolute;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  background: teal;
  color: white;
  padding: 20px;
  -webkit-box-shadow: 6px 7px 9px -1px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 6px 7px 9px -1px rgba(0, 0, 0, 0.68);
  box-shadow: 6px 7px 9px -1px rgba(0, 0, 0, 0.68);
}

.login-form {
  width: 600px;
  margin: 0 auto;
}

.login-form input {

  width: 400px;
}

a {
  color: #0094ff;
}

label {
  color: #101010;
  font-size: 18px;
}

@media print {
  .collapse.navbar-collapse {
    display: none;
  }
  a {
    display: none;
  }
  .noprint {
    display: none;
  }
}

.waybillorders-print {
  #printarea {
    position: relative;
    .date {
      left: 90px;
      top: -30px;
    }
    .place {

      left: 240px;
      top: -30px;

    }
    .destination {

      left: 370px;
      top: -30px;
    }
    .transferDestintion {

      left: 470px;
      top: -30px;
    }
    .ordernum {

      left: 600px;
      top: -30px;
    }
    .consignor {

      left: 0;
      top: 40px;
    }
    .consignee {

      left: 160px;
      top: 40px;
    }
    .consignor_phone {

      left: 0;
      top: 60px;
    }
    .consignee_phone {

      left: 160px;
      top: 60px;
    }
    .address {

      left: 160px;
      top: 80px;
    }
    .goodname1 {

      left: 0;
      top: 100px;
    }
    .number1 {

      left: 100px;
      top:100px;
    }
    .weight1 {

      left: 180px;
      top: 100px;
    }
    .volume1 {

      left:260px;
      top: 100px;
    }
    .googdName2 {

      left: 0;
      top: 100px;
    }
    .number2 {

      left: 40px;
      top: 100px;
    }
    .weight2 {

      left: 60px;
      top: 100px;
    }
    .volume2 {

      left: 80px;
      top: 100px;
    }
    .goodsName3 {

      left: 0;
      top: 120px;
    }
    .number3 {

      left: 40px;
      top: 120px;
    }
    .weight3 {

      left: 60px;
      top: 120px;
    }
    .volume3 {

      left: 80px;
      top: 120px;
    }
    .freightCost {

      right: 0;
      top: 0;
    }
    .packingCost {
      right: 0;
      top: 30px;
    }
    .deliverCost {
      right: 0;
      top: 40px;
    }
    .acceptCost {
      top: 50px;
      right: 0;
    }
    .transferCost {
      top: 60px;
      right: 0;
    }
    .ThatValue {
      top: 70px;
      right: 0;
    }
    .insuranceCost {
      top: 80px;
      right: 0;
    }
    .otherCost {
      top: 90px;
      right: 0;
    }
    .proxycollection {
      right: 0;
      top: 100px;
    }
    .paymentmenthod {
      top: 110px;
      right: 0;
    }
    .total {
      top: 120px;
      right: 0;
    }
    .loginname {
      top: 130px;
      right: 0;
    }


    .date,
    .place,
    .destination,
    .transferDestintion,
    .ordernum,
    .consignor,
    .consignee,
    .consignor_phone,
    .consignee_phone,
    .address,
    .goodname1,
    .number1,
    .weight1,
    .volume1,
    .googdName2,
    .number2,
    .weight2,
    .volume2,
    .goodsName3,
    .number3,
    .weight3,
    .volume3,
    .freightCost,
    .packingCost,
    .deliverCost,
    .acceptCost,
    .isTransfer,
    .transferCost,
    .otherCost,
    .proxycollection,
    .paymentmenthod,
    .ThatValue,
    .insuranceCost,
    .total,
    .loginname {
      position: absolute;
    }

  }


}

