// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 70px;
}

.notice {
  position: absolute;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  background: teal;
  color: white;
  padding: 20px;
  -webkit-box-shadow: 6px 7px 9px -1px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 6px 7px 9px -1px rgba(0, 0, 0, 0.68);
  box-shadow: 6px 7px 9px -1px rgba(0, 0, 0, 0.68);
}

.login-form {
  width: 600px;
  margin: 0 auto;
}

.login-form input {

  width: 400px;
}

a {
  color: #0094ff;
}

label {
  color: #101010;
  font-size: 18px;
}

.aprint{
  position: relative;
  top:400px;
  text-align: center;

}

@media print {
  .collapse.navbar-collapse {
    display: none;
  }
  a {
    display: none;
  }
  .noprint {
    display: none;
  }
  @page{
      margin-top:7.5mm;
      margin-left: 10mm;
      margin-right: 0;
      margin-bottom: 0;
  }
}

.waybillorders-print {
  #printarea {
    position: relative;

    .date {
      left: 120px;
      top: -26px;
    }
    .place {

      left: 270px;
      top: -26px;

    }
    .destination {

      left: 380px;
      top: -26px;
    }
    .transferDestintion {

      left: 500px;
      top: -26px;
    }
    .ordernum {

      left: 640px;
      top: -26px;
    }
    .consignor {

      left: 120px;
      top: 10px;
    }
    .consignee {

      left: 500px;
      top: 10px;
    }
    .consignor_phone {

      left: 120px;
      top: 36px;
    }
    .consignee_phone {

      left: 500px;
      top: 36px;
    }
    .address {

      left: 500px;
      top: 56px;
    }
    .goodname1 {

      left: 80px;
      top: 120px;
    }
    .number1 {

      left: 170px;
      top:120px;
    }
    .weight1 {

      left: 280px;
      top: 120px;
    }
    .volume1 {

      left:360px;
      top: 120px;
    }
    .googdName2 {

      left: 80px;
      top: 146px;
    }
    .number2 {

      left: 170px;
      top: 146px;
    }
    .weight2 {

      left: 280px;
      top: 146px;
    }
    .volume2 {

      left: 360px;
      top: 146px;
    }
    .goodsName3 {

      left: 80px;
      top: 170px;
    }
    .number3 {

      left: 170px;
      top: 170px;
    }
    .weight3 {

      left: 280px;
      top: 170px;
    }
    .volume3 {

      left: 360px;
      top: 170px;
    }
    .freightCost {

      left:480px ;
      top: 92px;
    }
    .packingCost {
      right: 0;
      top: 120px;
    }
    .deliverCost {
      right: 0;
      top: 92px;
    }
    .acceptCost {
      top: 92px;
      left: 600px;
    }
    .transferCost {
      top: 150px;
      left: 480px;
    }
    .ThatValue {
      top: 120px;
      left: 480px;
    }
    .insuranceCost {
      top: 120px;
      left: 600px;
    }
    .otherCost {
      top: 174px;
      left: 480px;
    }
    .proxycollection {
      left: 530px;
      top: 210px;
    }
    .paymentmenthod {
      top: 210px;
      left: 290px;
    }
    .total {
      top: 236px;
      left: 280px;
    }
    .loginname {
      top: 290px;
      left:80px ;
    }
    .waitnotice{
      top: 290px;
      left:580px ;
      border: 1px solid #000000;
    }


    .date,
    .place,
    .destination,
    .transferDestintion,
    .ordernum,
    .consignor,
    .consignee,
    .consignor_phone,
    .consignee_phone,
    .address,
    .goodname1,
    .number1,
    .weight1,
    .volume1,
    .googdName2,
    .number2,
    .weight2,
    .volume2,
    .goodsName3,
    .number3,
    .weight3,
    .volume3,
    .freightCost,
    .packingCost,
    .deliverCost,
    .acceptCost,
    .isTransfer,
    .transferCost,
    .otherCost,
    .proxycollection,
    .paymentmenthod,
    .ThatValue,
    .insuranceCost,
    .total,
    .loginname,
    .waitnotice
    {
      position: absolute;
    }

  }


}

